<!-- Footer -->
<footer id="footer">
  <p class="icons">
    <img class="shapers-logo" src="images/shapers.png" alt="Global Shapers BH" />
  </p>
  <p class="shapers">
  <strong>Decola é uma iniciativa sem fins lucrativos do <a href="https://www.globalshapers.org/hubs/belo-horizonte" target="_blank">Global Shapers Belo Horizonte</a>.</strong> Nossa missão é melhorar a cidade de Belo Horizonte por meio de projetos de impacto, do desenvolvimento de lideranças e da representação da juventude local junto ao Fórum Econômico Mundial.
  </p>
  <p class="copyright">
    &copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</p>
</footer>
